:root {
    /* --bg-body: #000;
    --color-text: #fff; */
    --bg-body: #fff;
    --color-text: #000; 
    --color-hf:#9c759c;
    --color-btn:#b98b99;
    
}



* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
  
    /* 
     */
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-body);
    color: var(--color-text);
    
}

/*HEADER CSS */

header, footer {
    background-color:  var(--color-hf);;  
}


header, footer{
    height: 4pc;
}

footer{
    margin-top: 10pc;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
   padding-left: 2pc;
   padding-right: 2pc;

}

nav {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

#menu{
    width: 20pc;
}



#menu  li {
    cursor: pointer;
    display: flex;
    justify-content: end;
}

#menu  li a {
    cursor: pointer;
    display: flex;
    color: white;
    text-decoration: none;
    list-style: none;
}




#izquierdaHeader {
    display: flex;
    align-items: center;
   
}




#izquierdaHeader h4 {
    font-weight: 500;
}

#drop{
    display: none;
}

.bgcolor{
    
    background-color: var(--color-hf);;
}


#offcanvasNavbarLabel {
    font-weight: 500;
    color: white !important;
    font-family: "Poppins", sans-serif;
}




/*CSS PRIMER MENSAJE */

main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5pc;
}






@media screen and (max-width: 1087px ) {
   

   
    
    header{
        display: none;
    }
    
    #drop{
        display: block;
    }



    
    
    
    
}




@media screen and (max-width: 655px ) {

    

 #menu{
    display: none;
 }

 nav {
    justify-content: center;
}





}



@media screen and (max-width: 515px ) {
   
}

