:root {
    /* --bg-body: #000;
    --color-text: #fff; */
    --bg-body: #fff;
    --color-text: #000; 

}



* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    /* 
     */
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-body);
    color: var(--color-text);
}

/*HEADER CSS */

header, footer {
    background-color: #9fa9be;  
}

header{
    height: 4pc;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
   padding-left: 2pc;
   padding-right: 2pc;

}

nav {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

#menu{
    width: 20pc;
}

#menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    list-style: none;
}


#menu ul li {
    display: flex;
    gap: 2pc;
    cursor: pointer;
}
#menu ul li a {
    color: white;
    text-decoration: none;
    list-style: none;
}




#izquierdaHeader {
    display: flex;
    align-items: center;
   
}
#izquierda

/* .imgHeader{
    width: 38px;
    height: 40px;
    margin-right: 10px;
}

.imgHeader img {
    width: 100%;
    height: 100%;
} */

#izquierdaHeader h4 {
    /* color: var(--secondary-color); */
    font-weight: 500;
}


/* este no lo estoy usando */


/*CSS PRIMER MENSAJE */

main{
    display:flex;
    flex-direction: column;
    gap: 15pc;
}
#title-info-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    padding: 10pc;
   
}

#infoPpl{
    display: flex;
    gap:5pc;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    
    
}

#infoPpl h1{
    font-size: 40px;
}
#infoPpl p{
    font-size: 20px;
    width: 60%;
    text-align: left;
}

#imgPpl{
    width: 40%;
}

#imgPpl img{
    height: 20pc;
    border-radius: 2rem;
}



/* .languages {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2pc 0 2pc 0;
}

.languages p {
    margin-right: 1pc;
    font-family: 'Tektur', cursive;
    font-weight: 400;
    font-size: 48px;
} */

/*CSS flecha */
#arrow-down {
    display: flex;
    justify-content: center;
    margin-bottom: 2pc;
}

#arrow-down  {
    cursor: pointer;
    font-size: 6pc
}

#more_info{
   border: 1px solid red; 
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 70%;
}










@media screen and (max-width: 1075px ) {
    main{
        display:flex;
        flex-direction: column;
        
    }

    #title-info-img{
        flex-direction: column;
    }
    
}
